.icon-star.zero {
    color: #ffd800 !important;
}

.icon-star.one {
    color: #0094ff !important;
}

.icon-star.two {
    color: #ff6a00 !important;
}

.icon-star.three {
    color: #b200ff !important;
}

.icon-star.four {
    color: #4800ff !important;
}

.icon-star.five {
    color: #ff006e !important;
}


.feeds .col2 .date {
    padding: 4px 9px 4px 4px;
    text-align: right;
    font-style: italic;
    color: #0F3D53;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > .member {
    padding-left: 15px !important;
}

.member > .memberShortName {
    display: inline-block;
    background-color: chocolate;
    padding: 0px 3px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px 3px 3px 3px !important;
    -webkit-border-radius: 3px 3px 3px 3px !important;
}

.details{
    height: 250px;
    vertical-align:text-bottom;
}

.circleLabel{
    padding-top: 0px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: rgba(255,255,255,0.0) !important;
    text-align: center;
    height:inherit;
    width:inherit;
}

p.circleLabel{
    padding-top: 2px;
    padding-bottom: 2px;    
    vertical-align: middle;
    line-height: 12px;    
    display: inline-block;
}

.taskView{
    padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255,255,255,0.0);
    text-align: center;
}

h1.taskView{
    font-size: 56px;
}

p.taskView{
    font-size: 34px;
}